.row {
    display: flex;
    gap: 1em;
    margin-bottom: 10px;
}
.col {
    height: 100px;
    flex: 1;
    background-color: teal;
}
.col-2 {
    height: 100px;
    flex: 2;
    background-color: teal;
}
.col-3 {
    height: 100px;
    flex: 3;
    background-color: teal;
}